@model EntitiLayer.Concreate.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_ArtistLayout.cshtml";
}

<h1>İçerik Girirşi</h1>
<br />
@using (Html.BeginForm("AddContent", "ArtistPanelContent", FormMethod.Post)) 
{
    <div class="form-group">
        <input type="hidden" name="SongID" value="@ViewBag.d" />       
        @Html.Label("İçeriğinizi Yazın")
        @Html.TextAreaFor(x => x.ContentValue,10,30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue)
        <br /><br />       
        <button class="btn btn-success">Şarkıyı Oluştur</button>
    </div>
}


