
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap.rtl.css" rel="stylesheet" />

<h3>MusicMark Tablo Örnek - Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>açıklama </th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>sezer arslan</td>
        <td>açıklama yapıldı</td>
        <td>true</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>baran kocadağ</td>
        <td>açıklama yapıldı</td>
        <td>true </td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>         
</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori listesi</button>
<button class="btn btn-danger">Kategori açıklamaları</button>

